<?xml version="1.0"?>
<configuration>
  <appSettings>
   <add key="addr" value="http.tcp://localhost:44444/MPDisplayService"/>
   <add key="ClientSettingsProvider.ServiceUri" value=""/>
   <add key="LogLevel" value="Debug,Info,Warn,Error" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MyBehavior" name="MessageServer.MessageService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="DuplexBinding" contract="MessageServer.IMessage" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <serviceThrottling maxConcurrentSessions="100" maxConcurrentCalls="100" maxConcurrentInstances="100" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
          <bufferedReceive maxPendingMessagesPerChannel="100" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding  listenBacklog="100" name="DuplexBinding" transferMode="Buffered" sendTimeout="00:01:00" receiveTimeout="00:01:00" maxReceivedMessageSize="2147483646" maxBufferSize="2147483646" maxBufferPoolSize="2147483646">
          <readerQuotas maxDepth="32" maxBytesPerRead="2147483646" maxArrayLength="2147483646" maxStringContentLength="2147483646" maxNameTableCharCount="2147483646"/>
          <reliableSession enabled="true" inactivityTimeout="00:03:00" />
          <security mode="None">
            <transport protectionLevel="None" clientCredentialType="None" />
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
